<div class="wrapper">
  <table>
    <tr>
      <td><%= "Hello #{@user['firstname']} #{@user["surname"]}" %></td>
    </tr>
    <tr>
      <td><%= "Balance: £#{@user['balance']}" %></td>
    </tr>
    <tr>
      <td>
        <%= form_tag("session/top-up", method: "get") do %>
          <%= label_tag(:top_up_amount, "Top Up") %>
          <%= number_field(:top_up_amount, nil, in: 0.01..100, step: 0.01) %>
          <%= submit_tag("Submit") %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
